@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Manufacturer>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>@Html.DisplayNameFor(c=>c.Name)</td>
            <td>@Html.DisplayNameFor(c=>c.StreetAddress)</td>
            <td>@Html.DisplayNameFor(c=>c.City)</td>
            <td>@Html.DisplayNameFor(c=>c.State)</td>
            <td>@Html.DisplayNameFor(c=>c.Zip)</td>
            <td>@Html.DisplayNameFor(c=>c.Phone)</td>
            <td>@Html.DisplayNameFor(c=>c.Contact)</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Manufacturer m in Model)
        {
        <tr>
            <td>@m.Id</td>
            <td>@Html.ActionLink(m.Name, "Details", "Manufacturer", new { Id=m.Id })</td>
            <td>@m.StreetAddress</td>
            <td>@m.City</td>
            <td>@m.State</td>
            <td>@m.Zip</td>
            <td>@m.Phone</td>
            <td>@m.Contact</td>

            <td>@Html.ActionLink("Edit", "Edit", "Manufacturer", new { Id = m.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", "Manufacturer", new { Id = m.Id })</td>
        </tr>
        }
    </tbody>
</table>  
@Html.ActionLink("Add New", "Edit", "Manufacturer")
